<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderProcessing" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9876/OrderProcessingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderProcessing"
                contract="OrderProcessing.IOrderProcessing" name="WSHttpBinding_IOrderProcessing">
                <identity>
                    <userPrincipalName value="HPS\Robert.Marquette" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>