<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoSecurity">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="OrderProcessingService.OrderProcessing" behaviorConfiguration="OrderProcessingServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://72.64.70.125:8080/OrderProcessingService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NoSecurity" contract="OrderProcessingInterface.IOrderProcessing" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderProcessingServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=192.168.13.135;Initial Catalog=OrderProcessingTest;User ID=bobm;Password=DMc0de12;Persist Security Info=False"/>
    <add name="Production" connectionString="Data Source=192.168.13.135;Initial Catalog=OrderProcessing;User ID=bobm;Password=DMc0de12;Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="Access" value="Test"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>