<?xml version="1.0"?>
<!--<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMetaDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://PLNA1871-W520:8765/OrderProcessingService/MEX"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ExposeMetaDataBehavior" name="OrderProcessingService.OrderProcessing">
        <endpoint address="http://localhost:8765/OrderProcessingService" binding="wsHttpBinding" bindingConfiguration="" contract="OrderProcessingInterface.IOrderProcessing"/>
        --><!--<endpoint address="net.tcp://PLNA1871-W520:8765/OrderProcessingService" binding="netTcpBinding" contract="OrderProcessingInterface.IOrderProcessing"/>--><!--
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/OrderProcessingService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=PLNA1871-W520\PLNA1871;Initial Catalog=OrderProcessingTest;Integrated Security=True"/>
    <add name="Production" connectionString="Data Source=PLNA1871-W520\PLNA1871;Initial Catalog=OrderProcessing;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Access" value="Test"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>-->
<configuration>
  <system.serviceModel>
    <services>
      <service name="OrderProcessingService.OrderProcessing" behaviorConfiguration="OrderProcessingServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://PLNA1871-W520:8765/OrderProcessingService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="OrderProcessingInterface.IOrderProcessing" />
        <endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderProcessingServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=PLNA1871-W520\PLNA1871;Initial Catalog=OrderProcessingTest;Integrated Security=True"/>
    <add name="Production" connectionString="Data Source=PLNA1871-W520\PLNA1871;Initial Catalog=OrderProcessing;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="Access" value="Test"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
