<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <!--<add name="LogListener" 
             type="System.Diagnostics.TextWriterTraceListener" 
             initializeData="OrderProcessing.log" />-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>

    <!-- Logging Parameters -->
    <add key="LoggingEnabled" value="true" />
    <add key="LogFileName" value="OrderProcessing.log" />
    <add key="LoggingLevel" value="2"/>
    <!-- 0 = Normal, 1 = Verbose, 2 = Debug -->

    <!-- Application Parameters -->
    <add key="USMailPackage" value="C:\Personal\Data\Global\PkgsViaUSMail.csv"/>
    <add key="USMailManifest" value="C:\Personal\Data\Global\USPSMANI.csv"/>
    <add key="UPSPackage" value="C:\Personal\Data\Global\PkgsViaUPS.csv"/>
    <add key="UPSManifest" value="C:\Personal\Data\Global\Manifest.csv"/>

    <!-- Processing Parameters -->
    <!--<add key="ConnectionString" value="Data Source=192.168.13.135;Initial Catalog=OrderProcessingTest;User ID=bobm;Password=DMc0de12;Persist Security Info=False"/>-->
    <add key="connectionString" value="Data Source=PLNA1871-W520\PLNA1871;Initial Catalog=OrderProcessingTest;Integrated Security=True"/>
    <add key="PackageID" value="1101735"/>

  </appSettings>

</configuration>
